* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

.container .h-title{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #00E0FF;
    margin-bottom: 25px;
}
.container .h2{
    margin-top: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
}
.container .paragraf {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-align: justify;
    font-size: 18px;
}
.w-100 {
    width: 100%;
}